<!-- ======= Header ======= -->
<header id="header">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1 class="text-light"><a href="index.html"><span>TLGYO.ORG</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <div class="contact-link float-right">
      <a href="#contact" class="scrollto">Contact Us</a>
    </div>

  </div>
</header><!-- End #header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1>TLGYO.ORG</h1>
    <h2>We're working hard to improve our website and we'll ready to launch after</h2>
    <div class="countdown" data-count="2021/12/18" data-template="%w weeks %d days <br> %h:%m:%s"></div>

    <form #subscribeForm="ngForm" role="form" class="php-email-form">
      <div class="row no-gutters">
        <div class="col-md-6 form-group pr-md-1 mb-1">
          <input #subName="ngModel" [(ngModel)]="subscriberModel.name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group pl-md-1">
          <input #subEmail="ngModel" [(ngModel)]="subscriberModel.email" type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
        </div>
      </div>

      <!-- <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your notification request was sent. Thank you!</div>
      </div> -->
      <div class="text-center"><button type="button" (click)="addSubscriber(subscriberModel, subscribeForm)" [disabled]="subscribeForm.errors">Get notified!</button></div>
    </form>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact Us</h2>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>1520 County Line Rd. Hopewell, OH 43746</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+17405860582">+1 740 586 0582</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:hello@tlgyo.org">hello@tlgyo.org</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <form role="form" #contactForm="ngForm" class="php-email-form">
          <div class="row">
            <div class="col-md form-group">
              <input #name="ngModel" [(ngModel)]="contactModel.name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md form-group mt-3 mt-md-0">
              <input #email="ngModel" [(ngModel)]="contactModel.email" type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input #subject="ngModel" [(ngModel)]="contactModel.subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea #msg="ngModel" [(ngModel)]="contactModel.msg" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="button" (click)="addContact(contactModel, contactForm)" [disabled]="contactForm.errors">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Us Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2021 <strong><span>Through The Looking Glass Youth Outreach</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://suremarketingsolutions.com/">Sure Marketing Solutions</a>
    </div>
  </div>
</footer><!-- End #footer -->
<alert class="fixed-top" [isOpen]="alertConfig.show" [type]="alertConfig.type" [dismissible]="true" (onClose)="alertClosed()">{{ alertConfig.msg }}</alert>
